.item {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
    /*margin-bottom: 10px; */
    border-radius: 5px;
    text-align: center;
    display: inline;
}

.menu-pai {
    display: flex;
    /*flex-direction: row;
    gap: 15px;*/
    align-items: center;
    justify-content: space-between;
    height: 150px;
    background-color: aquamarine;
}
